/* imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Fira+Sans&family=Frank+Ruhl+Libre:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Fira+Sans:wght@400;500&family=Frank+Ruhl+Libre:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid black 1px; */
}

/* ------------------- body grid template------------- */

body{
    background: #EBEBEB;
    max-width: 62.5rem;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* --------------------------header grid/flex--------------------- */

header{
    height: 34rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* ---------------left part of header----------- */

.leftbox{ 
    width: 50%;
    height: 100%;
    background-color: #C7DDEA;
    display: flex;
    flex-direction: column;
    align-items: left;
    position: relative;
    padding: 5rem;
}


.leftbox h1{
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 45px;
    width: 19.625rem;
    font-weight: 900;
    line-height: 100%;
}

.leftbox p{
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    width: 16.75rem;
    color: rgba(0, 0, 0, 0.6);
    padding-top: 1rem;
}

.leftbox p span{
    color: rgba(255, 255, 255, 1);
}

.leftbox button{
    margin-top: 3rem;
    padding: 0.5rem 2.4rem 0.5rem 2.4rem;
    border-radius: 100px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 10px;
    font-weight: 700;
    align-self: flex-start;
    border: none;
    flex-shrink: 0;
}

.imgpositioner{
    display: flex;
    flex-direction: row;
}

.leftbox img{
    height: 17.875rem;
    margin-top: 0.2rem;
}

/* -------------------------right part of header-------------------- */

.rightboxone{ 
    width: 50%;
    height: 50%;
    background-color: #F17949;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rightboxone p{
    font-family: 'Fira Sans', sans-serif;
    font-size: 11px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
}

.rightboxone h2{
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 900;
    font-size: 32px;
    color: rgba(255, 255, 255, 1);

}

.rightboxtwo{ 
    width: 50%;
    height: 50%;
    background-color: #FFB939;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rightboxtwo p{
    font-family: 'Fira Sans', sans-serif;
    font-size: 11px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
}

.rightboxtwo h2{
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 900;
    font-size: 32px;
    color: rgba(255, 255, 255, 1);

}


/* ----------------nav grid-------------------- */

.navflex{
    height: 5rem;
    background-color: hsl(0,0%,92%)rgb(235,235,235);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navflex h3{
    margin: 4rem;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
}

.navflex h3:nth-child(1){
    color: black;
}
/* -----------------------main content-------------------- */
 
.maincontent{
    height: 80.75rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
}

/* -----------------------------grey part----------------- */

.greybox{
    background-color: #A9A19E;
    grid-column: auto / span 6;
    grid-row: auto/span 3;
    height: 28.625rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.greybox div{
    height: 8.75rem;
    width: 19.625rem;
}

.greybox div h2{
    color: #FFF;
    font-family: Frank Ruhl Libre;
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -0.05625rem;
    margin-top: -3rem;
    padding-bottom: 4rem;
}

.joinbutton{
    padding: 0.5rem 2.4rem 0.5rem 2.4rem;
    border-radius: 100px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 10px;
    font-weight: 700;
    align-self: flex-start;
    border: none;
    flex-shrink: 0;
}

.greybox article{
    width: 17.5rem;
    height: 14.8125rem;
}

.greybox article p{
    color: rgba(0, 0, 0, 0.60);
    font-family: Fira Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem; 
}

/* -----------------------------cards----------- */
.cardbox article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 19.25rem;
    width: 16rem;
    background-color: #FFFF;
    border-radius: 5px;
}

.cardbox article figure{
    overflow: hidden;
}

.cardbox article h3{
    color: rgba(0, 0, 0, 0.90);
    text-align: center;
    font-family: Frank Ruhl Libre;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem;
    padding: 1rem;
}

.cardbox article p{
    color: rgba(0, 0, 0, 0.40);
    text-align: center;
    font-family: Fira Sans;
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem;
    padding-bottom: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
/* --------------firstcard------------- */


.childimg{
    max-height: 11rem;
    margin-top: 1rem;
    background-color: #C7DDEA;
}

.childbackground{
    background-color: #C7DDEA;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 10rem;
    height: 9.37rem;
    width: 14.75rem;
    border-radius: 5px;
}


/* ----------second card------------ */
.cardbox{
    background-color: beige;
    grid-column: auto/span 6;
    grid-row: 4/5;
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-image: linear-gradient(#A9A19E 50%, #FAB131 50%);
}

.adultimg{
    margin-top: 1rem;
    max-height: 28rem;
    background-color: #FAB131;
}

.adultbackground{
    background-color: #FAB131;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 10rem;
    height: 9.37rem;
    width: 14.75rem;
    border-radius: 5px;
}
/* -----------------third card------------ */



.oldmanimg{
    margin-top: 1rem;
    max-height: 28rem;
    background-color: #F17949;
}

.oldmanbackground{
    background-color: #F17949;
    padding-left: 2.5rem;
    padding-right: 5.5rem;
    padding-bottom: 10rem;
    height: 9.37rem;
    width: 14.75rem;
    border-radius: 5px;
}

/* -------------------yellow part-------------------- */

.yellowbox{
    background-color: #FAB131;
    grid-column: auto/span 6;
    grid-row: auto/span 4;
    height: 32.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.yellowbox h2{
    color: #FFF;
    text-align: center;
    font-family: Frank Ruhl Libre;
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -0.05625rem;
    margin-top: -4rem;
}

.yellowbox p{
    color: rgba(0, 0, 0, 0.60);
    text-align: center;
    font-family: Fira Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
    width: 27.625rem;
    margin-bottom: 1rem;
}

.spacing{
    margin-top: -15rem;
}

/* --------------------box section------------- */


/* -------------------footer-------------------- */

